<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Paciente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link th:href="@{/css/personaStyles.css}" rel="stylesheet">
</head>
<body>
<div class="container py-6">
    <div class="col-md-12">
        <div class="profile-info">
            <div class="card-body">
                <h4 class="card-title text-center mb-4">Registro de Paciente</h4>
                <hr/>
                <form th:action="@{/paciente/registro}" th:object="${paciente}" method="post">
                    <div class="row mb-3">
                        <div class="col-sm-2 text-center">
                            <i class="fas fa-user fa-2x text-primary"></i>
                        </div>
                        <div class="col-sm-10">
                            <h5>Nombre</h5>
                            <input type="text" name="nombre" class="form-control" th:field="*{nombre}" required>
                        </div>
                    </div>
                    <hr/>
                    <div class="row mb-3">
                        <div class="col-sm-2 text-center">
                            <i class="fas fa-tint fa-2x text-danger"></i>
                        </div>
                        <div class="col-sm-10">
                            <h5>Tipo de Sangre</h5>
                            <input type="text" name="tipoSangre" class="form-control" th:field="*{tipoSangre}" required>
                        </div>
                    </div>
                    <hr/>
                    <div class="row mb-3">
                        <div class="col-sm-2 text-center">
                            <i class="fas fa-phone fa-2x text-success"></i>
                        </div>
                        <div class="col-sm-10">
                            <h5>Teléfono de Emergencia</h5>
                            <input type="text" name="telefonoEmergencia" class="form-control" th:field="*{telefonoEmergencia}" required>
                        </div>
                    </div>
                    <hr/>
                    <div class="row mb-3">
                        <div class="col-sm-2 text-center">
                            <i class="fas fa-home fa-2x text-info"></i>
                        </div>
                        <div class="col-sm-10">
                            <h5>Dirección</h5>
                            <input type="text" name="direccion" class="form-control" th:field="*{direccion}" required>
                        </div>
                    </div>
                    <hr/>
                    <div class="row mb-3">
                        <div class="col-sm-2 text-center">
                            <i class="fas fa-allergies fa-2x text-warning"></i>
                        </div>
                        <div class="col-sm-10">
                            <h5>Alergias</h5>
                            <input type="text" name="alergias" class="form-control" th:field="*{alergia}" >
                        </div>
                    </div>
                    <hr/>
                    <div class="row mb-3">
                        <div class="col-sm-2 text-center">
                            <i class="fas fa-procedures fa-2x text-secondary"></i>
                        </div>
                        <div class="col-sm-10">
                            <h5>Enfermedades</h5>
                            <input type="text" name="enfermedades" class="form-control" th:field="*{enfermedad}">
                        </div>
                    </div>
                    <hr/>
                    <div class="row mb-3">
                        <div class="col-sm-2 text-center">
                            <i class="fas fa-notes-medical fa-2x text-primary"></i>
                        </div>
                        <div class="col-sm-10">
                            <h5>Historial Clínico</h5>
                            <textarea name="historialClinico" class="form-control" th:field="*{historial}"></textarea>
                        </div>
                    </div>
                    <hr/>
                    <div class="row mb-3">
                        <div class="col-sm-2 text-center">
                            <i class="fas fa-image fa-2x text-danger"></i>
                        </div>
                        <div class="col-sm-10">
                            <h5>Foto (Enlace)</h5>
                            <input type="url" name="foto" class="form-control" th:field="*{foto}">
                        </div>
                    </div>
                    <hr/>
                    <div class="row mb-3">
                        <div class="col-sm-12 text-left">
                            <input class="btn btn-primary" type="submit" value="Registrar" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
